@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.hero{
    width: 91rem;
    height: 30rem;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.bgVideo{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    max-width: 100%;
    min-height: 100%;
}
.text{
    padding: 8rem 0 0;
}
.text h1{
   font-size: 5rem;
   font-weight: 400;
   text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px, rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px, rgba(0, 0, 0, 0.498039) 0px 5px 10px;
   font-family: 'Questrial', sans-serif;
}
.text button{
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    padding: 1.5rem 3rem;
    background: crimson;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 200ms ease;
    outline: none;
}
.text button:hover{
    font-size: 2rem;
    padding: 1.25rem 1.25rem;
    background:#fff;
    color: #000;
    text-shadow: rgb(51, 50, 50) 2px 3px 5px;
}