@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.intro{
   width: 75rem;
   height: 40rem;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   margin: 2rem auto auto;
   background: url('../assets/pic.png');
   background-size: 100% 100%;
}
.imgText{
   font-family: 'Roboto Slab', serif;
   text-align: center;
   margin-bottom: 3rem;
   color: rgb(252, 210, 73);
   text-shadow: rgb(41, 41, 41) 2px 4px 6px;
   font-size: 4rem;
   width: 22ch;
   font-weight: 600;
}