@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.intro{
   width: 95rem;
   height: 48rem;
   display: grid;
   place-items: end;
   margin: 2rem auto auto;
   background: url('../assets/pic.png');
   background-size: 100% 100%;
}
.imgText{
   font-family: 'Roboto Slab', serif;
   text-align: center;
   color: rgb(252, 210, 73);
   text-shadow: rgb(41, 41, 41) 2px 4px 6px;
   font-size: 2.5rem;
   font-weight: 400;
}