@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cookie&display=swap');
.container{
    width: 75rem;
    height: 32rem;
    margin: 1.5rem auto;
    background: url('../assets/welcome.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.heading1,.heading2{
    text-align: center;
}
.heading1 span{
    font-family: 'Cookie', cursive;
    font-size: 5.5rem;
    font-weight: 900;
    color: crimson;
    text-shadow: 2px 2px 3px rgb(207, 207, 207),
                 2px 4px 3px rgb(128, 128, 128);
}
.heading2 {
    font-family: 'Anton', sans-serif;;
    font-size: 5.75rem;
    font-weight: 900;
    margin: -3rem 0 4rem;
    font-style: italic;
    letter-spacing: 10px;
    color: rgb(219, 187, 6);
    text-shadow: 0 2px 3px rgb(231, 231, 231),
    0 4px 3px rgb(173, 173, 173);
}
.btnDiv button{
    font-size: 1em;
    font-weight: 500;
    padding: 1.25rem 3rem;
    border: none;
    border-radius: 2.25rem;
    background-image: linear-gradient(to right,rgb(28, 28, 247) 10%,rgb(238, 58, 58));
    color: white;
    cursor: pointer;
} 
.btnDiv button:hover{
    background: crimson;
}
