@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');
.section2{
    width: 75rem;
    height: 30rem;
    margin: auto;
    display: flex;
}
.picture1{
    width: 37rem;
    background: url('../../assets/digital1.jpg');
    background-size: 100% 100%;
}
.info{
    width: 19rem;
    background: crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.info div:first-of-type{
    max-width: 15ch;
}
.info a{
    color: #fff;
    font-size: 3rem;
    font-family: 'Andada Pro', serif
}
.picture2{
    width: 19rem;
    background: url('../../assets/digital2.jpg');
    background-size: 100% 100%;
}